@media only screen and (max-width:1106px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 447px;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 69px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;

    }
    .text-big{
        align-items: center;
        text-align: center;
    }
    .text-small{
        align-items: center;
        text-align: center;
    }
    .buttons{
        align-items: center;
        text-align: center;
    }
    .paras{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    .logo img{
        width: 40%;
    }
}